# List

# What is list?

In [1]:
#A list is a data structure in Python that is a mutable, or changeable, ordered sequence of elements. Each element or value that is inside of a list is called an item. Just as strings are defined as characters between quotes, lists are defined by having values between square brackets [ ]

# List built in functions

In [2]:
lst1 = [23,2,"hii","LetsUpgrade",23]
lst2 = ["LetsUpgrade",23,4,"hii"]

In [3]:
# len() function

In [4]:
len(lst1)

5

In [5]:
len(lst2)

4

In [6]:
# max() function

In [7]:
lst3 = [33,21,34,67,32]

In [8]:
max(lst3)

67

In [9]:
# min() function

In [10]:
min(lst3)

21

In [11]:
# append() function

In [12]:
lst2.append("Hello LetsUpgrade")

In [13]:
lst2

['LetsUpgrade', 23, 4, 'hii', 'Hello LetsUpgrade']

In [14]:
# count() function

In [15]:
lst2.count("LetsUpgrade")

1

In [16]:
# extend() function

In [17]:
lst1.extend(lst2)

In [18]:
lst1

[23,
 2,
 'hii',
 'LetsUpgrade',
 23,
 'LetsUpgrade',
 23,
 4,
 'hii',
 'Hello LetsUpgrade']

In [19]:
# index() function

In [125]:
lst1.index(2)

1

In [21]:
# insert() function

In [22]:
lst3.insert(2,"LetsUpgrade")

In [23]:
lst3

[33, 21, 'LetsUpgrade', 34, 67, 32]

In [24]:
#pop() function

In [25]:
lst3.pop()

32

In [26]:
# remove() function

In [27]:
lst3.remove("LetsUpgrade")

In [28]:
lst3

[33, 21, 34, 67]

In [29]:
# reverse() function

In [30]:
lst3.reverse()

In [31]:
lst3

[67, 34, 21, 33]

In [32]:
# sort() function

In [33]:
lst3.sort()

In [34]:
lst3

[21, 33, 34, 67]

# Dictionary

# What is dictionary?

In [35]:
#Dictionary in Python is an unordered collection of data values, used to store data values like a map, which unlike other Data Types that hold only single value as an element, Dictionary holds key:value pair. ... Note â€“ Keys in a dictionary doesn't allows Polymorphism.

# Dictionary built-in functions

In [36]:
dict1 = {"name" : "Uttam", "age" : 21 , "profession" : "student"}

In [37]:
dict2 = {}

In [38]:
# pop function

In [39]:
dict1.pop("age")

21

In [40]:
# popitem() function

In [41]:
dict1.popitem()

('profession', 'student')

In [42]:
# copy() function

In [43]:
dict1.copy()

{'name': 'Uttam'}

In [44]:
# get() function

In [45]:
dict1.get("name")

'Uttam'

In [46]:
# update() function

In [47]:
dict1.update()

In [48]:
dict1

{'name': 'Uttam'}

In [49]:
dict2.update(dict1)

In [50]:
dict2

{'name': 'Uttam'}

In [51]:
# key() and value() function

In [52]:
dict1.keys()

dict_keys(['name'])

In [53]:
dict1.values()

dict_values(['Uttam'])

# Set

# What is set?

In [54]:
#A Set is an unordered collection data type that is iterable, mutable and has no duplicate elements. Python's set class represents the mathematical notion of a set. ... This is based on a data structure known as a hash table.

# Set methods

In [55]:
st = {1,2,4,7,9,24}

In [56]:
print(st)

{1, 2, 4, 7, 9, 24}

In [57]:
# add() methods

In [58]:
st.add(17)

In [59]:
st

{1, 2, 4, 7, 9, 17, 24}

In [60]:
#copy() methods

In [61]:
st.copy()

{1, 2, 4, 7, 9, 17, 24}

In [62]:
st1 = {12,3,2,1,67,4,24}

In [63]:
#difference() method

In [64]:
st.difference(st1)

{7, 9, 17}

In [65]:
#discard() function

In [66]:
st.discard(7)

In [67]:
st

{1, 2, 4, 9, 17, 24}

In [68]:
# intersection() method

In [69]:
st.intersection(st1)

{1, 2, 4, 24}

In [70]:
#isdisjoint() function

In [71]:
st.isdisjoint(st1)

False

In [72]:
#union() function

In [73]:
st.union(st1)

{1, 2, 3, 4, 9, 12, 17, 24, 67}

In [74]:
#issubset() function

In [75]:
st.issubset(st1)

False

In [76]:
#pop() function

In [77]:
st.pop()

1

In [78]:
st1.pop()

1

In [79]:
st.pop()

2

In [80]:
st

{4, 9, 17, 24}

In [81]:
#symmetric_difference() function

In [82]:
st.symmetric_difference(st1)

{2, 3, 9, 12, 17, 67}

# Tuples

# What is tuple?

In [83]:
#A tuple is an immutable sequence of Python objects. Tuples are sequences, just like lists. The differences between tuples and lists are, the tuples cannot be changed unlike lists and tuples use parentheses, whereas lists use square brackets.

# Tuple functions

In [84]:
tup1 = (21,"hello","LetsUpgrade")
tup2 = (3,45,2,13,"Python")

In [85]:
#len() function

In [86]:
len(tup1)

3

In [87]:
# max() function

In [88]:
tup3 = (23,1,45,11,4,2)

In [89]:
max(tup3)

45

In [90]:
# min() function

In [91]:
min(tup3)

1

In [92]:
# tuple(tup_name) method converts into tuple

In [93]:
tup4 = tuple(tup1)

In [94]:
print(tup4)

(21, 'hello', 'LetsUpgrade')

# String

# What is string?

In [95]:
#In Python, a string is a sequence of Unicode characters. Unicode was introduced to include every character in all languages and bring uniformity in encoding.

# String functions

In [96]:
str1 = "I am learning python on LetsUpgrade"

In [97]:
# len() function

In [98]:
len(str1)

35

In [99]:
# ascii() function

In [100]:
ascii('u')

"'u'"

In [101]:
str2 = True

In [102]:
#bool() function

In [103]:
bool(str2)

True

In [104]:
# bytearray() function

In [105]:
a = bytearray(3)

In [106]:
print(a)

bytearray(b'\x00\x00\x00')

In [107]:
# ord() function

In [108]:
a = ord("A")

In [109]:
print(a)

65

In [110]:
b = ord("b")

In [111]:
print(b)

98

In [112]:
# float() function

In [113]:
str_int = '12'

In [114]:
str_float = float(str_int)

In [115]:
print(str_float)

12.0

In [116]:
# type() function

In [117]:
str4 = "hello"

In [118]:
type(str4)

str

In [119]:
str5 = '34'

In [120]:
type(str5)

str

In [121]:
# isupper() , islower() ,isnumeric() function

In [122]:
str4.isupper()

False

In [123]:
str4.islower()

True

In [124]:
str4.isnumeric()

False