In [1]:
import random

x = random.randrange(10,20)

print(x)

14

In [2]:
import random

x = random.randrange(10,20)

print(x)

10

### Strings

In [3]:
a = "Hello World"

print(a[3])

l

In [4]:
print(a[1:3])

el

In [5]:
print(a[-1:-3])

In [6]:
b = "Hello Python"

print(b[-5:-2])

yth

In [7]:
print(b)

Hello Python

In [8]:
print(a.length)

AttributeError: 'str' object has no attribute 'length'

In [9]:
print(a.len())

AttributeError: 'str' object has no attribute 'len'

In [10]:
print(len(a))

11

In [11]:
print(len(b))

12

In [12]:
c = "  Hello String     "

print(c.strip())

Hello String

In [13]:
print(c.lower())

  hello string

In [14]:
print(c.upper)

<built-in method upper of str object at 0x0000021C9442BA80>

In [15]:
print(c.upper())

  HELLO STRING

In [16]:
d = "Corona Virus is pandemic"

print(d.replace("pa","e"))

Corona Virus is endemic

In [17]:
print(d.split(" "))

['Corona', 'Virus', 'is', 'pandemic']

In [18]:
e = "is" in d

In [19]:
print(d)

Corona Virus is pandemic

In [20]:
print(e)

True

In [21]:
f = "Corona" not in d
print(f)

False

In [22]:
print(d)

Corona Virus is pandemic

In [23]:
g = " It has now become endemic"

In [24]:
concat = d + g

print(concat)

Corona Virus is pandemic It has now become endemic

In [25]:
age = 21
birthYear = 1999
text = "My age is {} as I was born in {}"

print(text.format(age,birthYear))

My age is 21 as I was born in 1999

# List

In [26]:
#It is written with square brackets

In [27]:
lst = ["Ford","Mercedes","BMW","TATA","Lambhorgini"]

In [28]:
print(lst)

['Ford', 'Mercedes', 'BMW', 'TATA', 'Lambhorgini']

In [29]:
print(lst[2])

BMW

In [30]:
print(lst[-4])

Mercedes

In [31]:
print(lst[2:4])

['BMW', 'TATA']

In [32]:
print(lst[2:])

['BMW', 'TATA', 'Lambhorgini']

In [33]:
print(lst[:])

['Ford', 'Mercedes', 'BMW', 'TATA', 'Lambhorgini']

In [34]:
print(lst[:4])

['Ford', 'Mercedes', 'BMW', 'TATA']

In [35]:
print(lst[4])

Lambhorgini

In [36]:
lst[4] = "Ferrari"

In [37]:
print(lst)

['Ford', 'Mercedes', 'BMW', 'TATA', 'Ferrari']

### Looping in list

In [38]:
for i in lst:
    print(i)

Ford
Mercedes
BMW
TATA
Ferrari

In [39]:
if "Lambhorgini" in lst:
    print("Yes")
else:
    print("No")

No

In [40]:
lst[2] = "Lambhorgini"

In [41]:
if "Lambhorgini" in lst:
    print("Yes")
else:
    print("No")

Yes

In [42]:
print(lst)

['Ford', 'Mercedes', 'Lambhorgini', 'TATA', 'Ferrari']

In [43]:
len(lst)

5

In [44]:
lst.append("BMW")

In [45]:
print(lst)

['Ford', 'Mercedes', 'Lambhorgini', 'TATA', 'Ferrari', 'BMW']

In [46]:
lst.insert(1,"Toyoto")

In [47]:
print(lst)

['Ford', 'Toyoto', 'Mercedes', 'Lambhorgini', 'TATA', 'Ferrari', 'BMW']

In [48]:
lst.remove("BMW")

In [49]:
print(lst)

['Ford', 'Toyoto', 'Mercedes', 'Lambhorgini', 'TATA', 'Ferrari']

In [50]:
print(lst.pop())

Ferrari

In [51]:
lst2 = ["Royal Infield" , "Hero" , "Harley"]

In [52]:
cpylst = lst.copy()

In [53]:
print(cpylst)

['Ford', 'Toyoto', 'Mercedes', 'Lambhorgini', 'TATA']

In [54]:
joinList = lst2 + cpylst

In [55]:
print(joinList)

['Royal Infield', 'Hero', 'Harley', 'Ford', 'Toyoto', 'Mercedes', 'Lambhorgini', 'TATA']

In [56]:
lst2.sort()

In [57]:
print(lst2)

['Harley', 'Hero', 'Royal Infield']

In [58]:
print(joinList.sort())

None

In [59]:
joinList.sort()

In [60]:
print(joinList)

['Ford', 'Harley', 'Hero', 'Lambhorgini', 'Mercedes', 'Royal Infield', 'TATA', 'Toyoto']

# Tuples

In [61]:
# ordered and unchangeable.Written with round brackets

In [62]:
tup = ("apple" , "banana" , "cherry")

In [63]:
print(tup)

('apple', 'banana', 'cherry')

In [64]:

tup[1]

'banana'

In [65]:
tup[-3]

'apple'

In [66]:
tup[1:]

('banana', 'cherry')

In [67]:
tup[-3:]

('apple', 'banana', 'cherry')

In [68]:
tup[:3]

('apple', 'banana', 'cherry')

In [69]:
# Changing tuple value

# 1.Convert tuple into list
# 2.Change value in list
# 3.Convert list back into tuple

In [70]:
# I want to change 'banana' to 'orange'

In [71]:
# Step 1

lst = list(tup)

# Step 2

lst[1] = "orange"

# Step 3

tup = tuple(lst)

In [72]:
print(tup)

('apple', 'orange', 'cherry')

In [73]:
# Looping through tuple

In [74]:
for x in tup:
    print(x)

apple
orange
cherry

In [75]:
len(tup)

3

In [76]:
if "orange" in tup:
    print("Yes")
else:
    print("No")

Yes

In [77]:
# Joining two tuples

In [78]:
tup2 = ("grapes" , " banana" , "mango")

In [79]:
joinTup = tup + tup2

In [80]:
print(joinTup)

('apple', 'orange', 'cherry', 'grapes', ' banana', 'mango')

In [81]:
# To make a tuple using tuple() constructor

In [82]:
tup3 = tuple(("cars" , "buses" , "bike"))

In [83]:
print(tup3)

('cars', 'buses', 'bike')

# Set

In [84]:
# unordered and unindexed. Written with curly braces

In [85]:
set1 = {"cricket" , "hockey", "volleyball","basketball"}

In [86]:
print(set1)

{'hockey', 'basketball', 'volleyball', 'cricket'}

In [87]:
set1[3]

TypeError: 'set' object is not subscriptable

In [88]:
for x in set1:
    print(x)

hockey
basketball
volleyball
cricket

In [89]:
y = "hockey" in set1

In [90]:
print(y)

True

In [91]:
# We cannot chnage items in set but we can add and update

In [92]:
set1.add("Ludo")

In [93]:
print(set1)

{'cricket', 'hockey', 'Ludo', 'basketball', 'volleyball'}

In [94]:
# To add multiple items in set, use update()

In [95]:
set1.update(["Baseball","Golf"])

In [96]:
print(set1)

{'Golf', 'cricket', 'hockey', 'Ludo', 'Baseball', 'basketball', 'volleyball'}

In [97]:
# Anonymous result

In [98]:
set1.update(["Baseball","Golf"])

In [99]:
print(set1)

{'Golf', 'cricket', 'hockey', 'Ludo', 'Baseball', 'basketball', 'volleyball'}

In [100]:
len(set1)

7

In [101]:
set1.remove("s")

KeyError: 's'

In [102]:
print(set1)

{'Golf', 'cricket', 'hockey', 'Ludo', 'Baseball', 'basketball', 'volleyball'}

In [103]:
print(set1.pop())

Golf

In [104]:
print(set1.pop())

cricket

In [105]:
# joining two sets using union

In [106]:
set2 = {"Swimming"}

In [107]:
set3 = set1.union(set2)

In [108]:
print(set3)

{'basketball', 'Baseball', 'hockey', 'Ludo', 'volleyball', 'Swimming'}

# Dictionary

In [109]:
# undordered,changeable and indexed.Written with curly brackets,having keys and values.

In [110]:
dict1 = {"brand" : "Ford" , "model" : "Mustang" ,"year" : 1964}

In [111]:
print(dict1)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [112]:
print(dict1["model"])

Mustang

In [113]:
print(dict1.get("model"))

Mustang

In [114]:
# changing values

In [115]:
dict1["year"] = 2020

In [116]:
print(dict1)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [117]:
#  Looping through dictionary

In [118]:
for x in dict1:
    print(x," - " ,dict1[x])

brand  -  Ford
model  -  Mustang
year  -  2020

In [119]:
for x,y in dict1.items():
    print(x,y)

brand Ford
model Mustang
year 2020

In [120]:
if "brand" in dict1:
    print("Yes")
else:
    print("No")

Yes

In [121]:
len(dict1)

3

In [122]:
# Addding items in dictionary

In [123]:
dict1["color"] = "cyan"

In [124]:
print(dict1)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020, 'color': 'cyan'}

In [125]:
# Removing items

In [126]:
print(dict1.pop("model"))

Mustang

In [127]:
print(dict1)

{'brand': 'Ford', 'year': 2020, 'color': 'cyan'}

In [128]:
# Copy dictionary in another dictionary

In [129]:
dict2 = dict1.copy()

In [130]:
print(dict2)

{'brand': 'Ford', 'year': 2020, 'color': 'cyan'}

In [131]:
# Another way to copy dictionary

In [132]:
dict3 = dict(dict2)

In [133]:
print(dict3)

{'brand': 'Ford', 'year': 2020, 'color': 'cyan'}

In [134]:
# Nested dictionaries - Dictionary inside dictionary

In [135]:
myFamily = {
    "child1" : {
        "name" : "John","year" : 2002
    },
    "child2" : {
        "name" : "Mary", "year" : 2004
    },
    "child3" : {
        "name" : "Philip", "year" : 2005
    }
}

In [136]:
print(myFamily)

{'child1': {'name': 'John', 'year': 2002}, 'child2': {'name': 'Mary', 'year': 2004}, 'child3': {'name': 'Philip', 'year': 2005}}

# Loops

In [137]:
# While loop

In [138]:
i = 1 
while (i<10):
    print(i)
    i += 1
else:
    print("i is no longer less than 10")

1
2
3
4
5
6
7
8
9
i is no longer less than 10

# Functions

In [139]:
def fun():
    print('Inside function')
    
    
fun()

Inside function

In [140]:
def sum(a,b):
    print(a+b)
    
x = int(input("Enter first number : ")) 
y = int(input("Enter second number : "))

sum(x,y)

Enter first number :

ValueError: invalid literal for int() with base 10: ''

In [141]:
# Use of *args - When no. of arguments are not known we use args

In [142]:
def test(*args):
    print(args[3])
        
test(1,2,4,6,6)

6

In [143]:
# **kwargs - used when no. of arguments are not known. arguments are passed in the form of dictionary

In [144]:
def testFun(**kwargs):
    print(kwargs)
    
testFun(fname = "Uttam" ,lname = "Yadav")

{'fname': 'Uttam', 'lname': 'Yadav'}

In [145]:
# Recursion

In [146]:
def fact(x):
    while(x > 0):
        if (x == 1):
            return x
        else:
            return x*fact(x-1)
        x -= 1
        
num = int(input("Enter the number to find factorial : "))
print(fact(num))

Enter the number to find factorial :

ValueError: invalid literal for int() with base 10: ''

# Lambda Expressions in Python

In [147]:
# small anonymous function and can take any number of arguments bbut have only one expressions

In [148]:
# syntax -  lambda expression : expression

In [149]:
x = lambda i : (i+10)

print(x(5))

15

# Arrays

In [150]:
# Arrays are not availale in Python. To use it we have to import NumPy Library

In [151]:
# All functions are same as lists

# Classes and Objects

In [152]:
#  Almost everything in Python is a object and class is a blueprint for creating objects

In [153]:
class test:
    x = 10
    y = 20 

obj = test()
print(obj.y)

20

In [154]:
class Person:
    def __init__(self,name,age):
        self.name = name
        self.age = age
        
    def greeting(self):   # self can be named as anything but should be the first parameter of the methods
        print("Welcome ",self.name)
        
p1 = Person("Uttam",21)
print("Name : " ,p1.name)
print("Age : " ,p1.age)
p1.greeting()

Name :  Uttam
Age :  21
Welcome  Uttam

In [155]:
p1.age = 22

In [156]:
print(p1.age)

22

In [157]:
del p1.age

In [158]:
print(p1.age)

AttributeError: 'Person' object has no attribute 'age'

In [159]:
del p1

In [160]:
print(p1)

NameError: name 'p1' is not defined

# Inheritance

In [161]:
'''
Parent Class
'''

class Person_id:
    def __init__(self,fname,lname):
        self.fname = fname
        self.lname = lname
    def printname(self):
        print(self.fname,self.lname)
        
x = Person_id("John","Doe")
print(x)
x.printname()

'''
Child Class
'''

class Student(Person_id):
    def __init__(self,fname,lname,year):# Childs class will not inherit parent class __init__() but wil override it
        super().__init__(fname,lname)
        self.graduationyear = year

y = Student("John" , "Doe" , 2022)
print(y.graduationyear)

<__main__.Person_id object at 0x0000021C943F7948>
John Doe
2022

# Iterator

In [162]:
#object that contains a counter number of values. Consists of __iter__() and __next__()

In [163]:
mytuple = ("apple","banana","cherry")
myitr = iter(mytuple)

In [164]:
print(next(myitr))

apple

In [165]:
print(next(myitr))

banana

In [166]:
print(next(myitr))

cherry

# Date and Time

In [167]:
import datetime

x = datetime.datetime.now()
print(x)
print(x.year)

2020-05-31 00:26:59.623494
2020

In [168]:
print(x.strftime("%A"))

Sunday

# Math

In [169]:
x = min(2,3,5)

In [170]:
y = max(4,2,75,45)
print(y)

75

In [171]:
x = abs(-832.3)
print(x)

832.3

In [172]:
x = pow(2,3)

In [173]:
print(x)

8

In [174]:
import math

x = math.sqrt(25)
print(x)

5.0

In [175]:
x = math.ceil(5.7)
y = math.floor(6.3)

print(x)
print(y)

6
6

In [176]:
print(math.pi)

3.141592653589793

In [177]:
pip install camelcase

Note: you may need to restart the kernel to use updated packages.

'C:\Users\Uttam' is not recognized as an internal or external command,
operable program or batch file.

In [3]:
!pip install camelcase

Requirement already satisfied: camelcase in c:\users\uttam yadav\anaconda4\lib\site-packages (0.2)

In [1]:
import camelcase

c = camelcase.Camelcase()

txt = "hello world"

print(c.hump(txt))

AttributeError: module 'camelcase' has no attribute 'Camelcase'

In [2]:
uninstall camelcase

SyntaxError: invalid syntax (<ipython-input-2-48dba6344c4b>, line 1)

In [3]:
pip uninstall camelcase

Note: you may need to restart the kernel to use updated packages.

'C:\Users\Uttam' is not recognized as an internal or external command,
operable program or batch file.

In [ ]:
!pip uninstall camelcase

In [1]:
pip list

Note: you may need to restart the kernel to use updated packages.

'C:\Users\Uttam' is not recognized as an internal or external command,
operable program or batch file.

# try except and finally

In [1]:
try:
    print(x)
except:
    print("Not Defined")
    
finally:
    print("Something wrong")

Not Defined
Something wrong

# File Handling in Python

In [8]:
file = open("text.txt","w")  # open file
file.write("Hello Python")file.close()

In [18]:
file = open("text.txt","r")
file.read()

'Hello Python'

In [19]:
file.close()

In [22]:
file = open("text.txt","a")
file.write("I am enjoying learning you!")
file.close()

file = open("text.txt" , "r")
file.read()

'Hello PythonI am enjoying learning you!I am enjoying learning you!'

In [23]:
import os

os.remove("text.txt")

PermissionError: [WinError 32] The process cannot access the file because it is being used by another process: 'text.txt'

In [24]:
import os

if os.path.exists("text.txt"):
    os.remove("text.txt")
else:
    print("File doesn't exists")

PermissionError: [WinError 32] The process cannot access the file because it is being used by another process: 'text.txt'